 {% extends 'base.html' %}
 {% block content %}
 <!-- heading starts -->
  <section class="p-5">
    <div class="container">
      <h3>Add a <span class="text-primary">ToDo</span></h3>
    </div>
  </section>
  <!-- heading ends -->

  <!-- form starts -->
  <section class="px-5 text-center">
    <div class="container">
      <form action="{% url 'create' %}" method="POST">
          {% csrf_token %}
        <div class="form-floating mb-3">
          <input
            type="text"
            name="title"
            class="form-control"
            id="floatingInput"
            placeholder="ToDo Title"
          />
          <label for="floatingInput">ToDo Title</label>
        </div>
        <div class="form-floating mb-5">
          <textarea
            class="form-control"
            name="desc"
            placeholder="ToDo Description"
            id="floatingTextarea2"
            style="height: 100px"
          ></textarea>
          <label for="floatingTextarea2">Description (if any)</label>
        </div>
        <div>
        <select name="priority" class="form-select mb-5">
          <option value="Urgent">Urgent</option>
          <option value="EOD">EOD</option>
          <option value="No Deadline">No Deadline</option>
        </select>
      </div>

        <button type="submit" class="btn btn-dark addbtn rounded">Add</button>
      </form>
    </div>
  </section>
  {% endblock %}