{% extends 'base.html' %}
{% block content %}
    <!-- heading starts -->
    <section class="p-5">
      <div class="container">
        <h3>Edit a <span class="text-primary">ToDo</span></h3>
      </div>
    </section>
    <!-- heading ends -->

    <!-- form starts -->
    <section class="px-5 text-center">
      <div class="container">
        <form action="{% url 'edit' todo.id %}" method="POST">
            {% csrf_token %}
          <div class="form-floating mb-3">
            <input
              type="text"
              name="title"
              class="form-control"
              id="floatingInput"
              placeholder="ToDo Title"
              value="{{ todo.title }}"
            />
            <label for="floatingInput">ToDo Title</label>
          </div>
          <div class="form-floating mb-5">
            <textarea
              class="form-control"
              placeholder="ToDo Description"
              id="floatingTextarea2"
              name="desc"
              
              style="height: 100px"
              
            >{{ todo.description }}</textarea>
            <label for="floatingTextarea2">Description (if any)</label>
          </div>

          <div>
            <select name="priority" class="form-select mb-5">
              {% if todo.priority == "Urgent" %}
              <option value="Urgent" selected>Urgent</option>
              <option value="EOD">EOD</option>
              <option value="No Deadline">No Deadline</option>
              {% elif todo.priority == "EOD" %}
             
              <option value="Urgent" >Urgent</option>
              <option value="EOD" selected>EOD</option>
              <option value="No Deadline">No Deadline</option>
              {% else %}
              <option value="Urgent" >Urgent</option>
              <option value="EOD" >EOD</option>
              <option value="No Deadline" selected>No Deadline</option>
              {% endif %}

            </select>
          </div>

          <button type="submit" class="btn btn-dark addbtn rounded">Update</button>
        </form>
      </div>
    </section>

    <!-- form ends -->
{% endblock %}
