{% extends 'base.html' %}
{% block content %}

    <!-- add a todo starts -->
    <section class="p-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-md-8 col-sm-6">
            <h3>Your ToDo's</h3>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <a href="{% url 'create' %}" class="btn btn-dark text-light"> Add a new ToDo </a>
          </div>
        </div>
      </div>
    </section>
    <!-- add a todo ends -->

    <!-- all todos starts -->

    <section class="px-5">
      <div class="container">
        <div class="row g-4">
          {% for t in todo %}
          <div class="col-lg-3 col-md-6">
            <a href="{% url 'read' t.id %}" class="text-decoration-none text-dark">
              <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ t.title }}</h5>
                <p><em>{{ t.created_date }}</em></p>
                <p class="card-text  mb-3">
                  {{ t.description | safe }}
                </p>
                <a href="{% url 'edit' t.id %}" class="btn btn-outline-dark">Edit</a>
                <a href="{% url 'delete' t.id %}" class="btn btn-danger">Delete</a>
              </div>
            </div>
          </a>

          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <!-- all todos ends -->
 
  </body>
</html>

{% endblock %}