{% extends 'base.html' %}
{% block content %}
    <!-- title starts -->
    <section class="p-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-md-8">
            <h3 class="text-primary mb-2">{{ todo.title }}</h3>
            <p>Priority: <b>{{ todo.priority }}</b></p>

          </div>
          <div class="col-lg-2 col-md-4">
            <a href="{% url 'edit' todo.id %}" class="btn btn-outline-dark"> Edit </a>
            <a href="{% url 'delete' todo.id%}" class="btn btn-danger"> Delete </a>
          </div>
        </div>
      </div>
    </section>
    <!-- title ends -->

    <!-- desc starts -->
    <section class="px-5">
      <div class="container">
        <p class="lead desc">{{ todo.description }}</p>
      </div>
    </section>
    <!-- desc ends -->
{% endblock %}
 
